*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color-primary: #000000;



    --txt-color-primary: #ffffff;
    --font-family-primary:  'Inter', sans-serif;
    --text-font-primary-weight: 700;
    --font-family-secondary: 'Montserrat', sans-serif;
    --font-family-title: 'Bebas Neue', sans-serif;
    --font-title-weight: 400;

}
body{
    background-color: grey;
}
/* botão de voltar e next */
.carousel-nav-icon {
   height: 1.3rem;
   width: 1.3rem;
   background-color: #727272;
}
.carousel-item {
   .col, .col-sm, .col-md {
      margin: 8px;
      height: 300px;
      background-size: cover;
      background-position: center center;
   }
}