*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
:root{
    --bg-color-primary: #000000;



    --txt-color-primary: #ffffff;
    --font-family-primary:  'Inter', sans-serif;
    --text-font-primary-weight: 700;
    --font-family-secondary: 'Montserrat', sans-serif;
    --font-family-title: 'Bebas Neue', sans-serif;
    --font-title-weight: 400;

}
body{
    background-color: grey;
}
.carousel-img {
    width: 20rem;          
    height: 25rem;          
    background-color: white; /* cor de fundo temporária */
    border-radius: 10px;
}

.carousel-nav-icon {
    width: 2rem;             
    height: 2rem;
    background-color: #727272; 
    border-radius: 50%; 
    padding: 20px;    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.carousel-nav-icon img {
    width: 20px;             /* tamanho do ícone */
    height: 20px;
}