*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color-primary: #000000;



    --txt-color-primary: #ffffff;
    --font-family-primary:  'Inter', sans-serif;
    --text-font-primary-weight: 700;
}