@import url(global.css);

/* === CABEÇALHO === */
header {
    width: 100%;
    height: 3.69rem;
    display: flex;
    background-color: var(--bg-color-primary);
}
@media (max-width: 1024px){
    header{
        font-size: 0.9rem;
    }
}
@media (max-width: 768px){
    header{
        font-size: 0.875rem;
    }
}

@media (max-width: 480px){
    header{
        font-size: 0.75rem;
    }
}    /* --- Grupo de endereço, disponibilidade e redes sociais --- */
.address,
.days,
.social-media {
    display: flex;
    align-items: center;
    margin-block: 0.8rem;
    margin-left: 2.56rem;
    gap: 0.25em;
}
/* Ajustes individuais */
.days {
    margin-left: 2.38rem;
}

.social-media {
    gap: 0.5em;
    margin-left: 20%;
}

/* --- Texto --- */
.address p,
.days p {
    color: var(--txt-color-primary);
    font-size: 1.25em;
    font-family: var(--font-family-primary);
    font-weight: var(--txt-font-primary-weight);
}
/* --- Ícones --- */
.address img,
.days img {
    width: 2.125em;
    height: 2.125em;
}
.social-media img {
    width: 2em;
    height: 2em;
}

.social-media .instagram img {
    width: 3em;
    height: 2.3em;
}

.social-media .facebook img {
    margin-right: 0.5rem;
}

/* === SEÇÃO PRINCIPAL === */
main {
    width: 100vw;
    height: 100vh;
}
/* --- Barra de navegação superior --- */
main .topo {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 3.69em;
    margin-top: 3.25rem;
    background: linear-gradient(90deg, #FF8929 0%, #B15C17 98%);
}

/* --- Logo --- */
.topo img {
    position: absolute;
    top: -2.2em;
    left: 4.5em;
    width: 11.2em;
    height: auto;
    z-index: 10;
}

/* --- Menu de navegação --- */
.topo nav ul {
    display: flex;
    align-items: center;
    gap: 4em;
    padding-block: 0.94rem;
    padding-left: 25em;   /* VERIFICAR */
}

.topo nav ul li a {
    color: var(--txt-color-primary);
    font-family: var(--font-family-secondary);
    font-size: 1.5em;
    font-weight: var(--text-font-primary-weight);
}
/* CALL TO ACTION, HERO-HEADER E BOTÃO */
.principal-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    padding-right: 3.81rem;
    padding-top: 5em;
}
.principal-title h1{
    font-family: var(--font-family-title);
    font-weight: var(--font-title-weight);
    line-height: 75%;
    font-size: 12em;
    color: white;
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.25);

}
.principal-title h1 .title-color1{
    color: #FF8929;
    font-size: 0.8em;

}
.principal-title h1 .title-color2{
    color: white;
    font-size: 1em;
}
.principal-title p{
    width: 42rem;
    height: 5rem;
    text-align: center;
    font-family: var(--font-family-secondary);
    font-weight: 400;
    font-size: 1.5em;
    margin-left: auto;
    align-self: flex-end;
}
.principal-title button{
    margin-right: 0.2em;
    font-family: var(--font-family-title);
    font-size: 2em;
    color: #FF8929;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 0.91em;
    padding-block: 0.2em;
    gap: 0.4em;
    border-radius: 0.5rem;
    border: 3px solid white;
    background-color: transparent;
}
.principal-title button img{
    width: 1.2em;
    height: 1em;
}
.principal-title button span{
    color: white;
}


