@import url(global.css);

header{
    border: 1px solid;
    display: flex;
    flex-direction: column;
}
header img{
    width: 150px;
    height: 80px;
}
header .header-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 30px;
    padding-top: 20px;
}
header .nav-bar nav ul{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 10px;
    border-bottom: 10px solid;
}

#principal{
    display: flex;
    flex-direction: column;
    position: relative;
}
#principal img{
    width: 100%;
    height: 550px;
    border-bottom: 10px solid;
}
#principal .texto{
    border: 1px solid;
    position: absolute;
    top: 300px;
    font-size: 42px;
    left: 50px;
}

#destaques{
    display: grid;
    grid-template-areas: 
        "A A A"
        "E E E"
        "B C D"
        "B C D"
    ;
}
#destaques .info{
    grid-area: A;
    width: 100%;
    height: 150px;
    border: 1px solid;
}
#destaques h1{
    grid-area: E;
}
#destaques article .article-1{
    grid-area: B;
}
#destaques article .article-2{
    grid-area: B;
}
#destaques article .article-3{
    grid-area: B;
}
#destaques article{
    margin: 20px;
    text-align: center;
}
article{
    transition: transform 0.3s ease;
}
article:hover{
    transform: scale(1.1);
}

footer{
    border: 1px solid;
}
footer span{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
footer #footer{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    padding-block: 20px;
}
footer .biografia img{
    width: 100px;
    height: 100px;
}
footer .biografia h2{
    font-size: 20px;
}
footer .biografia p{
    font-size: 10px;
}
footer .social-media{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 80px;
    font-size: 15px;
    line-height: 50px;
}
footer .mapa iframe{
    width: 300px;
}
