*, html {
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html, body {
overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
:root{
    --bg-color-primary: #000000;
    --txt-color-primary: #ffffff;
    --font-family-primary:  'Inter', sans-serif;
    --text-font-primary-weight: 700;
    --font-family-secondary: 'Montserrat', sans-serif;
    --font-family-title: 'Bebas Neue', sans-serif;
    --font-title-weight: 400;

}
body {
    background-image: url(../assets/images/Background.png);
    background-color: #424242;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}